audio {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 300px));
  z-index: 99999999;
}
#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  display: none;
  width: 250px;
  transform: translate(-50%, -50%);
  border-bottom: 0px solid white;
	z-index: 9999;
  &:before {
    position: absolute;
    left: 0;
    bottom: -10px;
    display: block;
    background: white;
    width: 0;
    height: 1px;
    content: '';
    -webkit-animation: loading 2s linear infinite;
    animation: loading 2s linear infinite;
  }
  &:after {
    position: relative;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: white;
    text-align: center;
    width: 100%;
    content: 'Loading Visuals';
  }
  &.show {
    display: inline-block;
  }
}
#player {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) scale(2.5);
  pointer-events: none;
  > * {
    pointer-events: none;
  }
  @media screen and (max-width: 960px) {
    transform: translate(-50%, -50%) scale(2.75);
  }
}

#wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75vh;
  height: 75vh;
  max-width: 768px;
  max-height: 768px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px dotted transparent;
  transform: translate3d(-50%, -50%, 0.01px) rotate(0deg);
  transform-origin: center center;
  /*filter: brightness(5);*/
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease-out;
  &:before {
    position: absolute;
    left: -5%;
    top: -5%;
    width: 110%;
    height: 110%;
    background: repeating-radial-gradient(circle, transparent, #000 53%);
    z-index: 1;
    border-radius: 50%;
    content: "";
    pointer-events: none;
    filter: inherit;
    transition: all 0.1s linear;
  }
  &:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from 235deg, #000, transparent 24deg);
    z-index: 99;
    border-radius: 50%;
    content: "";
    pointer-events: none;
    filter: inherit;
    transition: all 0.1s linear;
  }
  &.run {
    transition: all 0.2s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -webkit-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
    cursor: auto;
    opacity: 1;
  }
  &.ready {
    opacity: 1;
  }
  &.reverse {
    width: 75vw;
    height: 75vw;
  }
  iframe {
    filter: inherit;
  }
}
#cat {
  line-height: 0;
  top: 30px;
  right: 0;
  transform: scale(0.65);
  pointer-events: none;
  &.ready {
    opacity: 1;
    pointer-events: all;
    &:hover {
      opacity: 0.75;
    }
  }
}
#shader {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	z-index: 9998;
	background-color: #000;
	transition: opacity 0.3s ease;
	&.fade {
		opacity: 0;
		pointer-events: none;
	}
}
@keyframes spin {
  100% { 
    transform: translate3d(-50%, -50%, 0.01px) rotate(360deg);
  }
}
@keyframes spin2 {
  100% { 
    transform: translate3d(-50%, -50%, 0.01px) rotate(-360deg);
  }
}
@keyframes loading {
  0% { 
    width: 0;
    left: 0;
  }
  15% { 
    width: 75px;
    left: 0;
  }
  30% { 
    width: 150px;
    left: 0;
  }
  45% { 
    width: 225px;
    left: 0;
  }
  60% { 
    width: 150px;
    left: 33%;
  }
  75% { 
    width: 75px;
    left: 66%;
  }
  90% { 
    width: 0;
    left: 100%;
  }
}
